*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	-ms-touch-action: none;
}
body {
	font-size: 12px;
	overflow: hidden; /* this is important to prevent the whole page to bounce */
}
#header {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 45px;
	line-height: 45px;
	background: #CD235C;
	padding: 0;
	color: #eee;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}
#footer {
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 48px;
	background: #444;
	padding: 0;
	border-top: 1px solid #444;
	display: flex;
	align-items: center;
}
#footer .button{
	flex:1;
	text-align: center;
	color: #fff;
}

#wrapper {
	position: absolute;
	z-index: 1;
	top: 45px;
	bottom: 45px;
	left: 0;
	width: 100%;
	background: #1F334B;
}


/*iscroll布局====skill布局*/
#scroller {
  width: 100%;
  background: #1F334B;
  color: #fff; 
}
#scroller dl {
    width: 100%;
    height: 140px;
    border-bottom: 1px #fff solid;
    padding-top: 20px;
    font-size: 13px; 
}
#scroller dl dt {
	width: 20%;
	text-align: center;
	height: 90px;
	float: left; 
}
#scroller dl dt img {
	width: 50px;
	border-radius: 8px;
	background: #93A960; 
}
#scroller dl dd {
	width: 75%;
	padding-right: 5%;
	float: right;
	overflow: hidden;
	word-break: break-all; 
}
/*iscroll布局====其他布局*/
#scroller ul{
	width: 100%;
}
#scroller ul li{
	width: 100%;
	height: 50px;
}
#scroller .mine{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	text-indent: 20px;
	padding: 10px;
}
#scroller .mine p{
	padding-top: 10px;
}
/*project*/
#scroller .project{
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
}
#scroller .project h5{
	width: 100%;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #fff;
	font-size: 20px;
}
#scroller .project .projectImg{
	padding-top: 10px;
	width: 100%;
	text-align: center;
	overflow: hidden;
}
#scroller .project .projectImg img{
	width: 80%;
}
#scroller .project .projectTxt{
	font-size: 20px;
	padding: 10px 0;
	font-weight: 900;
}
#scroller .project .projectDec{
	text-indent: 20px;
}